/* --- Reset Globals (User Agent Stylesheets) --- */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all var(--time) var(--ease);
}
.no-transition {
	transition: none !important;
}

html {
	color-scheme: light dark;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html,
body {
	height: 100%;
}

body {
	min-height: 100vh;
	background: var(--bg);
	color: var(--text);
	font-family: var(--fonts);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Media and graphics */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Form elements inherit font styles */
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	background: transparent;
	line-height: inherit;
}

/* Basic element resets */
button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	resize: vertical;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
